#training or testing data files
*.csv
*.json
*.dat
*.xlsx
*.txt

# zipped files
*.zip
*.rar
*.gz
*.7z

#dump model
*.pkl
*.exe

#ploting graph
*.png
*.jpg
*.gif

#the-nature-conservancy-fisheries-monitoring
the-nature-conservancy-fisheries-monitoring/input
the-nature-conservancy-fisheries-monitoring/train
the-nature-conservancy-fisheries-monitoring/test_stg1


#test directory
house_price_predict/history
house_price_predict/dumps
house_price_predict/cache

#
digit_recognizer/history